{% extends 'base.html.twig' %}

{% block title %}Devenir VIP{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
{% endblock %}

{% block body %}
    <div class="example-wrapper mt-5">
        <h1>Devenir VIP</h1>

        {% if coupon is not null %}
            <div class="alert alert-info">Utilisez le coupon <strong>VIP10</strong> pour bénéficier de {{ coupon.percent }}% de réduction</div>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="Avez-vous un coupon ?" aria-label="Coupon" aria-describedby="coupon" id="coupon">
                <input id="discount" type="hidden" value="0">
                <button class="btn btn-outline-secondary" type="button" id="btn-coupon">Utiliser</button>
                <div class="invalid-feedback" id="coupon-error-message"></div>
            </div>
        {% endif %}

        <div id="coupon-applied" class="d-none">
            <span class="badge bg-success">Coupon appliqué : <strong></strong></span>
        </div>

        <button type="button" class="btn btn-primary mt-3" id="btn-pay">Payer 100€</button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.4/axios.min.js" integrity="sha512-ANd7ZJmixP2T0hxOP4bS6hkci01fxyrQSyRdaY7IsWq1WlKsD0WwWBDVDZbnMR7CJZVKCTkDx/q5D5n2C2C+vg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const couponBtn = document.querySelector('#btn-coupon');
            const couponField = document.querySelector('#coupon');
            const couponErrorMessageEl = document.querySelector('#coupon-error-message');
            const discountField = document.querySelector('#discount');
            const couponAppliedEl = document.querySelector('#coupon-applied');
            const payBtn = document.querySelector('#btn-pay');

            let amount = 100;
            let initialAmount = 100;

            const showCouponError = (error) => {
                discountField.value = 0;
                couponErrorMessageEl.innerHTML = error;
                couponField.classList.add('is-invalid');
                couponAppliedEl.classList.add('d-none');
                payBtn.innerHTML = "Payer " + initialAmount + "€";
            }

            const applyDiscount = (percent) => {
                amount = initialAmount - initialAmount * percent/100;

                discountField.value = percent;
                couponAppliedEl.classList.remove('d-none');
                couponField.classList.remove('is-invalid');
                couponAppliedEl.querySelector('span > strong').innerText = couponField.value;
                payBtn.innerHTML = "Payer <strike>" + initialAmount + "€</strike> <strong>" + amount + "€<strong>";
            }

            couponBtn.addEventListener('click', function () {
                if (couponField.value === '') {
                    discountField.value = 0;
                    couponField.classList.remove('is-invalid');
                    couponAppliedEl.classList.add('d-none');
                    payBtn.innerHTML = "Payer " + initialAmount + "€";

                    return;
                }

                axios
                    .post("{{ path('app_coupons_verify') }}", {'code': couponField.value})
                    .then(function (response) {
                        if (response.data.success) {
                            const percent = response.data.percent;

                            applyDiscount(percent);
                        } else {
                            showCouponError(response.data.message);
                        }
                    })
                    .catch(() => {
                        toastr.error("Une erreur est survenue , veuillez réessayer ultérieurement");
                        payBtn.removeAttribute('disabled');
                    });
            })

            payBtn.addEventListener('click', function () {
                payBtn.setAttribute('disabled', 'disabled');

                axios
                    .post("{{ path('app_account_stripe_payment_checkout') }}", { 'discount': discountField.value })
                    .then(function (response) {
                        if (! response.data.success) {
                            toastr.error(response.data.message);
                            payBtn.removeAttribute('disabled');
                        } else {
                            window.location.replace(response.data.url);
                        }
                    })
                    .catch(() => {
                        toastr.error("Une erreur est survenue , veuillez réessayer ultérieurement");
                        payBtn.removeAttribute('disabled');
                    });
            })
        });
    </script>
{% endblock %}
