{% extends 'base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Edit Profile</h1>
        {% for flashMessage in app.flashes('account') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {{ form_start(form) }}

            <div>
                <div class="mb-3">
                    {{  form_row(form.email) }}
                </div>
                <div class="mb-3">
                    {{  form_row(form.password) }}
                    <p class="small">Password must contain up to 8 characters and should not contain special characters.</p>
                </div>
            </div>

        {{ form_row(form.submit, { 'label': 'Save' }) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
