{% extends 'base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block body %}
    <div class="example-wrapper">
        {% for flashMessage in app.flashes('account') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <h1>Edit Profile</h1>
        <form action="{{ path('app_account_submit') }}" method="POST">
            <input type="hidden" class="form-control" id="id" value="{{ user.id }}">
            <div class="mb-3">
                <label for="email" class="form-label">Your email *</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="enter your email" required value="{{ user.email }}">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="New password">
            </div>
            <div class="text-end">
                <a class="btn btn-secondary" href="{{ path('app_home') }}">Cancel</a>
                <button class="btn btn-success" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}
