{% extends 'base.html.twig' %}

{% block title %}Liste des sociétés (old){% endblock %}

{% block body %}
    <div class="example-wrapper mt-5">
        <h1>Liste des sociétés (old)</h1>

        <h2>Recherche</h2>
        <form action="{{ path('app_companies_old') }}" method="GET">
            <div class="row align-items-center">
                <div class="col">
                    <!-- FIXME: HACK : type "%';UPDATE user set email = 'test@evil.com' WHERE id=2 -- " to update user -->
                    <input type="text" id="search" class="form-control" name="search" placeholder="Chercher une société" value="{{ search }}">
                </div>
                <div class="col flex-grow-0">
                    <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </form>
        <br>
        <ul>
            {% for company in companies %}
                <li><a href="{{ path('app_company_edit_old', {'id': company.id }) }}">{{ company.name | raw }} - {{ company.userNb }} users</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}