{% extends 'base.html.twig' %}

{% block title %}Ma société{% endblock %}

{% block body %}
    <div class="example-wrapper mt-5">
        <h1>{{ company.name }}</h1>

        <a class="btn btn-primary" href="{{ path('app_company_edit', {'id': company.id}) }}">Modifier</a>
        <button  class="btn btn-dark" id="btn-show-company-users">Afficher les utilisateurs de la société</button>

        <table class="table mt-4 d-none" id="list-users">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    {#TODO merge#}
    <div class="example-wrapper">
        <h1>Companies</h1>
        <h2>Search</h2>
        <form action="{{ path('app_companies') }}" method="GET">
            <div class="row align-items-center">
                <div class="col flex-grow-0">
                    <label for="search" class="col-form-label">Search</label>
                </div>
                <div class="col">
                    <!-- FIXME: HACK : type "%';UPDATE user set email = 'test@evil.com' WHERE id=2 -- " to update user -->
                    <input type="text" id="search" class="form-control" name="search" placeholder="type some text" value="{{ search }}">
                </div>
                <div class="col flex-grow-0">
                    <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </form>
        <h2>List of companies</h2>
        <ul>
            {% for company in companies %}
                <li><a href="{{ path('app_company_edit', {'id': company.id }) }}">{{ company.name | raw }} - {{ company.userNb }} users</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js" integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const showCompanyUsersBtn = document.querySelector('#btn-show-company-users');
            const tableEl = document.querySelector('#list-users')

            showCompanyUsersBtn.addEventListener('click', function () {
                axios({
                    method: 'GET',
                    url: "{{ path('app_company_about', {'id': company.id}) }}",
                }).then(function (response) {
                    let tbody = '';
                    response.data.company.users.forEach(user => tbody += "<tr><td>" + user.firstName + "</td><td>" + user.lastName + "</td></tr>");

                    tableEl.querySelector('tbody').innerHTML = tbody;

                    tableEl.classList.remove('d-none');
                }).catch(error => console.log(error));
            })
        });
    </script>
{% endblock %}